@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
     border:none;
    text-transform: capitalize;
     transition: all .2s linear;   
}
.navbarmargin{
    margin-left: 67%;
}
.navbar
{
    background-color: #fff !important;
    
}
.navbar-brand
{
    font-size: 1.9rem !important;
    color: #565387 !important;
}
.navbar a
{
    font-size: 1.3rem;
    text-transform: capitalize;
}
.menu_active:hover
{
    font-weight: bold;
    border-bottom: 1px solid #565387;
}
.navbar a:hover
{
    color: #3498db !important;
}
@media (max-width: 991px)
{
    .navbar-brand{
        font-size: 1.5rem !important;
    }
}
#header .btn-get-started{
    padding: 10px 30px;
    border-radius: 50px;
       background-color: #3498db;
  text-decoration: none;
   /* transition: 5s;  */
color: #3498db;
  color: #fff;
  font-weight: bolder;
  border:2px solid green;
  font-weight: 800;
  font-size: 26px;
  letter-spacing: 1px;
  display: inline-block; 
  
}
#header .btn-get-started:hover{
   
    background-color:yellow;
    color:black;
    cursor: pointer;
    border:2px solid black;
    
}
/* .first-line
{
    margin-top: 5%;
} */
.img-fluid{
    height: 95%;
    width: 100%;
    position: relative;
    animation: myfirst 5s ease-in-out infinite alternate-reverse both;
    animation-direction: alternate;
   
}
@keyframes myfirst {
    
    0%{
        left:0px;
        top:0px;
    }
    50%{
        left:0px;
        top:30px;
    }
    100%{
        left:0px;
        top:0px;
    }
  }
  #header{
      width: 100%;
      height: 80vh;
      margin-top: 50px;
  }
  #header h1
  {
      margin: 0 0 10px 0;
      font-size: 48px;
      font-weight: 700;
      color: black;
  }
  #header .brand-name{
      color: #3498db;
  }
  #header h2
  {
      color: #484848;
      font-size: 24px;
  }
  .img-src{
      height: 200px;
      width: 100%;
  }
  .mar 
  {
      margin-top:10px;
  }
